@media (max-width:400px) 
{
    body
    {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6pt;
    color: red;
    background-image: url(../IMG/images.jpeg);
    }
    
}
@media (400px < width  <=800px ) 
{
    body
    {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 8pt;
        color: blue;
        background-image: url(../IMG/17700107-fondo-seamless-tileable-para-fondos-de-pantalla-alta-resolución-colores-claros.jpg);
    }
    .foto18{
      width: 40%;
      }

    #IMGPrin
    {
      width:30%;
      margin-left: 12%;
      float: left;
      margin-top: 9.5%;
    }
    
    .foto17{
      width: 10%;
      height: 5%;
      margin-left: 45%;
      clear: left;
      margin-top: 9.5%;
    }
    
}
@media (800px < width <= 1200px) 
{
    body
    {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        color: green;
        font-size: 10pt;
        background-image: url(../IMG/descarga.jpeg);
    }
    #IMGPrin
    {
      width: 20%;
      margin-left: 12%;
      float: left;
      margin-top: 9.5%;
    }
    
    .foto17{
      width: 10%;
      height: 5%;
      margin-left: 45%;
      clear: left;
      margin-top: 9.5%;
    }
    
}

@media (1200px < width <= 1600px) 
{
    body
    {
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
        color: yellow;
        background-image: url(../IMG/doodle-cheetah-seamless-pattern-hand-drawn-cute-leopard-endless-wallpaper-wild-animals-background-vector.jpg)
    }
    #IMGPrin
    {
      width: 10%;
      margin-left: 12%;
      float: left;
      margin-top: 9.5%;
    }
    .foto5{
      clear: left;
    }
    .foto9{
      clear: left;
    }
    .foto13{
      clear: left;
    }
    .foto17{
      width: 10%;
      height: 5%;
      margin-left: 45%;
      clear: left;
      margin-top: 9.5%;
    }
    
}

@media (width > 1600px) 
{
    body
    {
        font-family: 'Courier New', Courier, monospace;
        font-size: 14pt;
        color: orange;
        background-image: url(../IMG/35975670-modelo-geométrico-seamless-vector-fondo-oscuro-textura-abstracta-para-fondos-de-pantalla.jpg)
    }
    #IMGPrin
    {
      width: 10%;
      margin-left: 12%;
      float: left;
      margin-top: 9.5%;
    }
    .foto5{
      clear: left;
    }
    .foto9{
      clear: left;
    }
    .foto13{
      clear: left;
    }
    .foto17{
      width: 10%;
      height: 5%;
      margin-left: 45%;
      clear: left;
      margin-top: 9.5%;
    }
    
}

h1
{
    text-align: center;
}

.imagen
{
    width: 50%;
    margin-left: 25%;
    margin-top:7%;
}

.principal{

    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;

}

.foto18{
width: 20%;
height: 5%;
margin-left: 40%;
margin-top: 10%;
}
/*
.foto1{
  width: 10%;
  height: 5%;
  margin-left: 15%;
  margin-top: 10%;
    
}

.foto2{
  width: 10%;
  height: 5%;
  margin-left: 35%;
  float: left;
  margin-top: -10.25%;
    
}
.foto3{
  width: 10%;
  height: 5%;
  margin-left: 55%;
  float: left;
  margin-top: -10.25%;
    
}
.foto4{
  width: 10%;
  height: 5%;
  margin-left: 75%;
  float: left;
  margin-top: -10.25%;
    
}

.foto5{
  width: 10%;
  height: 5%;
  margin-left: 15%;
  float: left;
  margin-top: 9.5%;
    
}
.foto6{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}
.foto7{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}
.foto8{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto9{
  width: 10%;
  height: 5%;
  margin-left: 15%;
  float: left;
  margin-top: 9.5%;
    
}
.foto10{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto11{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto12{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto13{
  width: 10%;
  height: 5%;
  margin-left: 15%;
  float: left;
  margin-top: 9.5%;
    
}

.foto14{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto15{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto16{
  width: 10%;
  height: 5%;
  margin-left: 10%;
  float: left;
  margin-top: 9.5%;
    
}

.foto17{
  width: 10%;
  height: 5%;
  margin-left: 45%;
  float: left;
  margin-top: 9.5%;
    
}*/

.buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
    float: left;
    margin-left: 30%;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    float: left;
  }   
    

  nav{
    max-width: 900px;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
  }
  .menu-horizontal{
    list-style: none;
    display: flex;
    position: fixed;
    justify-content: space-around;
    background-color: #333;
  }
  .menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
  }
  .menu-horizontal > li:hover{
    background-color: red;
  }
  .menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
  }
  .menu-horizontal li:hover .menu-vertical{
    display: block;
  }
  .menu-vertical li:hover{
    background-color: black;
    margin-left: -50px;
    margin-right: -10px;
  }
  
  .menu-vertical li a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
  }
  
  #html{
    margin: auto;
    padding: 20px;
    max-width: 900px;
    background: white;
  
  }
.footer{
    float: left;
}
.redes{
    float: left;
    margin-left: 32.5%;
}
