@media (max-width:400px) 
{
    body
    {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6pt;
    color: red;
    background-image: url(../IMG/images.jpeg);
    }
}
@media (400px < width  <=800px ) 
{
    body
    {
        background-color: rgb(212, 173, 173);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 8pt;
        color: blue;
        background-image: url(../IMG/17700107-fondo-seamless-tileable-para-fondos-de-pantalla-alta-resolución-colores-claros.jpg);
    }
    
}
@media (800px < width <= 1200px) 
{
    body
    {
        background-color: blue;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        color: green;
        font-size: 10pt;
        background-image: url(../IMG/descarga.jpeg);
    }
}

@media (1200px < width <= 1600px) 
{
    body
    {
        background-color: rgb(107, 78, 212);
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
        color: yellow;
        background-image: url(../IMG/doodle-cheetah-seamless-pattern-hand-drawn-cute-leopard-endless-wallpaper-wild-animals-background-vector.jpg)
    }
}

@media (width > 1600px) 
{
    body
    {
        background-color: green;
        font-family: 'Courier New', Courier, monospace;
        font-size: 14pt;
        color: orange;
        background-image: url(../IMG/35975670-modelo-geométrico-seamless-vector-fondo-oscuro-textura-abstracta-para-fondos-de-pantalla.jpg)
    }
}

h1
{
    text-align: center;
}

.imagen
{
    width: 50%;
    margin-left: 25%;
}

#IMGPrin
{
    width: 20%;
}